$red-crayola: rgba(255, 16, 83, 1);
$dark-blue-gray: rgba(108, 110, 160, 1);
$vivid-sky-blue: rgba(102, 199, 244, 1);
$beau-blue: rgba(193, 202, 214, 1);
$white: rgba(255, 255, 255, 1);

$carrier: rgb(255, 116, 51);
$battleship: rgb(255, 51, 51);
$cruiser: rgb(255, 255, 255);
$submarine: rgb(132, 47, 189);
$minesweeper: rgb(51, 99, 255);