@import url("https://fonts.googleapis.com/css?family=Roboto");
@import 'colors.scss';

* {
    border-radius: 5px;
    font-family: "Roboto", Helvetica, sans-serif;
    outline: none;
    padding: 0;
    margin: 0;
}

html, body, #root {
    height: 100%;
}

body {
    background: $dark-blue-gray;
    font-size: 20px;
    color: white;

    button {
        cursor: pointer;
    }

    h1 {
        font-size: 60px;
    }

    input[type=text] {
        box-sizing: border-box;
        padding: 10px;
        border: 5px solid transparent;
        transition: border .3s;

        &:focus {
            border-color: $beau-blue;
        }
    }

    button {
        border: none;
        color: white;
        padding: 10px 20px;

        font-size: 25px;
        background: $red-crayola;
        transition: background .3s;

        &:hover {
            background: darken($red-crayola, 10);
        }
    }
}