@import url("https://fonts.googleapis.com/css?family=Roboto");
@import 'colors.scss';

* {
    border-radius: 5px;
    font-family: "Roboto", Helvetica, sans-serif;
    outline: none;
    padding: 0;
    margin: 0;
}

html, body, #root {
    height: 100%;
}

body {
    background: $dark-blue-gray;
    font-size: 20px;
    color: white;

    button {
        cursor: pointer;
    }

    h1 {
        font-size: 60px;
    }
}