@import url("https://fonts.googleapis.com/css?family=Roboto");
@import 'colors.scss';

* {
    border-radius: 5px;
    font-family: "Roboto", Helvetica, sans-serif;
    outline: none;
    padding: 0;
    margin: 0;
}

html, body, #root {
    height: 100%;
}

body {
    background: $dark-blue-gray;
    font-size: 20px;
    color: white;

    button {
        cursor: pointer;
    }

    h1 {
        font-size: 60px;
    }

    input[type=text], input[type=number] {
        box-sizing: border-box;
        padding: 10px;
        border: 5px solid transparent;
        transition: border .3s;

        &:focus {
            border-color: $beau-blue;
        }
    }

    button, input[type=submit] {
        border: none;
        color: white;
        padding: 10px 20px;

        font-size: 25px;
        background: $red-crayola;
        transition: background .3s;
        cursor: pointer;

        &:hover {
            background: darken($red-crayola, 10);
        }
    }

    .setup-page, .game-page {
        .carrier .cell, 
        .grid .carrier {
            background: $carrier;
            border: 1px solid darken($carrier, 15);
        }

        .battleship .cell,
        .grid .battleship {
            background: $battleship;
            border: 1px solid darken($battleship, 15);
        }

        .cruiser .cell,
        .grid .cruiser {
            background: $cruiser;
            border: 1px solid darken($cruiser, 15);
        }

        .submarine .cell,
        .grid .submarine {
            background: $submarine;
            border: 1px solid darken($submarine, 15);
        }

        .minesweeper .cell,
        .grid .minesweeper {
            background: $minesweeper;
            border: 1px solid darken($minesweeper, 15);
        }

        .placed .cell {
            background: $beau-blue;
            border: 1px solid darken($beau-blue, 15);
        }
    }
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: darken($dark-blue-gray, 13);
}

*::-webkit-scrollbar-thumb {
    background-color: $red-crayola;
}