@import './colors.scss';

.youtube-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 5px 0 0 0;
    background: darken($dark-blue-gray, 10);
    cursor: pointer;

    h1 {
        margin: 10px;
        font-size: 20px;
        display: none;
        user-select: none;
    }

    button {
        margin: 10px;
    }

    iframe {
        border-radius: 0;
        user-select: none;
        pointer-events: none;
        width: 500px;
        height: 281.25px;
    }

    &.closed {
        h1 {
            display: block;
        }

        button {
            display: none;
        }

        iframe {
            display: none;
        }
    }
}