@import 'colors.scss';

.setup-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    //Leave button
    > button {
        align-self: flex-start;
        margin: 10px 30px;
    }

    > div {
        flex: 1;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .setup-area {
        display: flex;
        width: 1100px;
        justify-content: space-evenly;
        background: lighten($dark-blue-gray, 5);

        > div {
            margin: 20px;
        }

        .dock {
            width: 500px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button {
                background: darken($dark-blue-gray, 15);

                &:hover {
                    background: darken($dark-blue-gray, 20);
                }
            }

            .boats {
                display: flex;
                justify-content: center;
                align-items: center;

                > div {
                    margin: 10px;
                    box-sizing: border-box;
                    border: 4px solid transparent;
                    transition: .3s all;
                    cursor: pointer;
                }

                >.placed {
                    cursor: default;
                }

                >.active {
                    border: 4px solid rgb(0, 241, 189);
                }
            }
        }
    }

    .cell {
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border-radius: 0px;
    }

    .grid {
        display: flex;
        width: 500px;
        height: 500px;
        flex-wrap: wrap;

        .cell {
            background: $vivid-sky-blue;
            border: 1px solid darken($vivid-sky-blue, 15);
        }

        .active {
            cursor: move;
        }
    }

    .bottom {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        #sub-btn {
            background: $green;

            &:hover {
                background: darken($green, 5);
            }
        }

        button {
            margin: 0 10px;

            &:disabled {
                background: gray;
            }
        }
    }
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.5);
    align-items: center;
    transition: background 1s;

    div {
        display: flex;
        width: 100%;
        justify-content: center;
        background: $dark-blue-gray;
        transition: all 1s;

        h1 {
            white-space: nowrap;
            margin: 50px 0;
            visibility: visible;
            opacity: 1;
            transition: 1s all;
        }
    }

    &.hidden {
        background: transparent;
        width: 0%;

        div {
            width: 0%;

            h1 {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}